<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>game answered</title>
</head>
<body>
{{#if correct}}
    {{#with correctAnswer}}
        <h1>Good Job!</h1>
        <p>You were right with the answer {{(new Date.getFullYear() - 1))}}-{{documentNumber}}</p>
    {{/with}}
{{#else}}
<h3>Sorry, try again!</h3>
{{/if}}
</body>
</html>