<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>minute.monster game</title>
</head>
<body>
    <section>
        <article>
            <h2>Where does the following quote appear? (give the document number)</h2>
            <blockquote>{{abstract}}</blockquote>
        </article>
        <article>
            <form name="gameAnswer" method="post" action="/game">
                <input type="text" name="year" placeholder="2023" />-<input type="text" name="citation" placeholder="15555" />
                <br />
                <input type="submit" />
            </form>
        </article>
    </section>
    <script src="../assets/js/main.js" ></script>
    <script src="../assets/js/game.js" ></script>
</body>
</html>