<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>minute.monster home</title>
</head>
<body>
    <section>
        <article>
            <h1>minute.monster</h1>
            <p>Don't let the minute monster get you!</p>
            <p>Build a Shopping List of Tasty Healthy Foods without going over 2500 calories <em>as quickly as you can</em>, and see if anyone can do a more nutricious meal any faster!</p>
        </article>
        <article>
            <h1>Created with United States Department of Agriculture (USDA) data found at: https://fdc.nal.usda.gov/api-guide.html</h1>
            <p>The USDA (https://www.usda.gov/) is the US department that handles changes in the lives of our farmers.</p>
        </article>
    </section>
</body>
</html>