<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>minute.monster home</title>
</head>
<body>
    <section>
        <article>
            <h1>minute.monster</h1>
            <p>Don't let the minute monster get you!</p>
            <p>Select a quote as quickly as you can, and see if anyone can select it faster!</p>
        </article>
    </section>
    <script src="../assets/js/main.js" ></script>
</body>
</html>