<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>minute.monster home</title>
    <link href="./assets/fonts/stylesheet.css" rel="stylesheet" />
    <link href="./assets/css/main.css" rel="stylesheet" />
</head>
<body>
    <section id="intro">
        <article>
            <h1 class="title">minute.monster</h1>
            <p>Don't let the minute monster get you!</p>
            <p>Build a Shopping List of Tasty Healthy Foods without going over 2500 calories <em>as quickly as you can</em>!</p>
        </article>
        <article id="rules">
            <h2>Rules of the game:</h2>
            <ul>
                <li>Find the healthiest food for your shopping list!</li>
                <li>Collect healthy calories until time runs out!</li>
                <li>You've got 30 seconds to start, but move quickly (!!!) and add healthy calories!</li>
                <li>Whomever can collect the healthiest 2500 calories in the least amount of time WINS!!!</li>
                <li>But don't go over 2500 calories, <span>otherwise the Minute Monster gets you!!!</span></li>
                <li>Also don't go under 1750 calories, <span>otherwise the Minute Monster gets you!!!</span></li>                
            </ul>
        </article>
        <article>
            <a id="playButton" href="/game">Play</a>
        </article>
        <article>
            <h1>Created with United States Department of Agriculture (USDA) data found at: https://fdc.nal.usda.gov/api-guide.html</h1>
            <p>The USDA (https://www.usda.gov/) is the US department that handles changes in the lives of our farmers.</p>
        </article>
        <article id="glossary">
            <h1 class="title">Glossary (via Wikipedia.org):</h1>
            <ul>
                <li>
                    <h2>Calories (KiloCalorie)</h2>
                    <p>The large calorie, food calorie, dietary calorie, or kilogram calorie was originally defined as the amount of heat needed to raise the temperature of one kilogram of water by one degree Celsius (or one kelvin).</p>
                </li>
                <li>
                    <h2>Carbohydrates</h2>
                    <p>A carbohydrate is a biomolecule consisting of carbon (C), hydrogen (H) and oxygen (O) atoms, usually with a hydrogen–oxygen atom ratio of 2:1 (as in water) and thus with the empirical formula Cm(H2O)n (where m may or may not be different from n), which does not mean the H has covalent bonds with O (for example with CH2O, H has a covalent bond with C but not with O). However, not all carbohydrates conform to this precise stoichiometric definition (e.g., uronic acids, deoxy-sugars such as fucose), nor are all chemicals that do conform to this definition automatically classified as carbohydrates (e.g. formaldehyde and acetic acid).</p>
                    <p>The term is most common in biochemistry, where it is a synonym of saccharide (from Ancient Greek σάκχαρον (sákkharon) 'sugar'), a group that includes sugars, starch, and cellulose. The saccharides are divided into four chemical groups: monosaccharides, disaccharides, oligosaccharides, and polysaccharides. Monosaccharides and disaccharides, the smallest (lower molecular weight) carbohydrates, are commonly referred to as sugars. While the scientific nomenclature of carbohydrates is complex, the names of the monosaccharides and disaccharides very often end in the suffix -ose, which was originally taken from the word glucose (from Ancient Greek γλεῦκος (gleûkos) 'wine, must'), and is used for almost all sugars, e.g. fructose (fruit sugar), sucrose (cane or beet sugar), ribose, lactose (milk sugar), etc.</p>
                </li>
                <li>
                    <h2>Calcium</h2>
                    <p>Calcium is an essential element needed in large quantities. The Ca2+ ion acts as an electrolyte and is vital to the health of the muscular, circulatory, and digestive systems; is indispensable to the building of bone; and supports synthesis and function of blood cells. For example, it regulates the contraction of muscles, nerve conduction, and the clotting of blood. As a result, intra- and extracellular calcium levels are tightly regulated by the body. Calcium can play this role because the Ca2+ ion forms stable coordination complexes with many organic compounds, especially proteins; it also forms compounds with a wide range of solubilities, enabling the formation of the skeleton.</p>
                </li>
                <li>
                    <h2>Cholesterol</h2>
                    <p>Cholesterol is the principal sterol of all higher animals, distributed in body tissues, especially the brain and spinal cord, and in animal fats and oils.</p>

                    <p>Cholesterol is biosynthesized by all animal cells and is an essential structural component of animal cell membranes. In vertebrates, hepatic cells typically produce the greatest amounts. It is absent among prokaryotes (bacteria and archaea), although there are some exceptions, such as Mycoplasma, which require cholesterol for growth. Cholesterol also serves as a precursor for the biosynthesis of steroid hormones, bile acid and vitamin D.</p>

                    <p>Elevated levels of cholesterol in the blood, especially when bound to low-density lipoprotein (LDL, often referred to as "bad cholesterol"), may increase the risk of cardiovascular disease.</p>
                </li>
                <li>
                    <h2>Fats</h2>
                    <p>Fats are one of the three main macronutrient groups in human diet, along with carbohydrates and proteins, and the main components of common food products like milk, butter, tallow, lard, salt pork, and cooking oils. They are a major and dense source of food energy for many animals and play important structural and metabolic functions, in most living beings, including energy storage, waterproofing, and thermal insulation. The human body can produce the fat it requires from other food ingredients, except for a few essential fatty acids that must be included in the diet. Dietary fats are also the carriers of some flavor and aroma ingredients and vitamins that are not water-soluble.</p>
                </li>
                <li>
                    <h2>Fiber</h2>
                    <p>Dietary fiber (in Commonwealth English fibre) or roughage is the portion of plant-derived food that cannot be completely broken down by human digestive enzymes. Dietary fibers are diverse in chemical composition, and can be grouped generally by their solubility, viscosity, and fermentability, which affect how fibers are processed in the body. Dietary fiber has two main components: soluble fiber and insoluble fiber, which are components of plant-based foods, such as legumes, whole grains and cereals, vegetables, fruits, and nuts or seeds.</p>
                </li>
                <li>
                    <h2>Protein</h2>
                    <p>Most microorganisms and plants can biosynthesize all 20 standard amino acids, while animals (including humans) must obtain some of the amino acids from the diet.[43] The amino acids that an organism cannot synthesize on its own are referred to as essential amino acids. Key enzymes that synthesize certain amino acids are not present in animals—such as aspartokinase, which catalyses the first step in the synthesis of lysine, methionine, and threonine from aspartate. If amino acids are present in the environment, microorganisms can conserve energy by taking up the amino acids from their surroundings and downregulating their biosynthetic pathways.</p>
                    <p>In animals, amino acids are obtained through the consumption of foods containing protein. Ingested proteins are then broken down into amino acids through digestion, which typically involves denaturation of the protein through exposure to acid and hydrolysis by enzymes called proteases. Some ingested amino acids are used for protein biosynthesis, while others are converted to glucose through gluconeogenesis, or fed into the citric acid cycle. This use of protein as a fuel is particularly important under starvation conditions as it allows the body's own proteins to be used to support life, particularly those found in muscle.[89]</p>
                </li>
                <li>
                    <h2>Sodium</h2>
                    <p>Sodium chloride (salt) is the principal source of sodium in the diet, and is used as seasoning and preservative in such commodities as pickled preserves and jerky; for Americans, most sodium chloride comes from processed foods. Other sources of sodium are its natural occurrence in food and such food additives as monosodium glutamate (MSG), sodium nitrite, sodium saccharin, baking soda (sodium bicarbonate), and sodium benzoate.[80]</p>
                    <p>The U.S. Institute of Medicine set its tolerable upper intake level for sodium at 2.3 grams per day,[81] but the average person in the United States consumes 3.4 grams per day.[82] The American Heart Association recommends no more than 1.5 g of sodium per day.[83]</p>
                </li>
                <li>
                    <h2>Vitamins</h2>
                    <p>Vitamins are organic molecules (or a set of closely related molecules called vitamers) that are essential to an organism in small quantities for proper metabolic function. Essential nutrients cannot be synthesized in the organism in sufficient quantities for survival, and therefore must be obtained through the diet. For example, Vitamin C can be synthesized by some species but not by others; it is not considered a vitamin in the first instance but is in the second. Most vitamins are not single molecules, but groups of related molecules called vitamers. For example, there are eight vitamers of vitamin E: four tocopherols and four tocotrienols.</p>
                    <p>The term vitamin does not include the three other groups of essential nutrients: minerals, essential fatty acids, and essential amino acids.</p>
                    <p>Major health organizations list thirteen vitamins:</p>
                    <ul>
                        <li>Vitamin A (all-trans-retinols, all-trans-retinyl-esters, as well as all-trans-beta-carotene and other provitamin A carotenoids)</li>
                        <li>Vitamin B1 (thiamine)</li>
                        <li>Vitamin B2 (riboflavin)</li>
                        <li>Vitamin B3 (niacin)</li>
                        <li>Vitamin B5 (pantothenic acid)</li>
                        <li>Vitamin B6 (pyridoxine)</li>
                        <li>Vitamin B7 (biotin)</li>
                        <li>Vitamin B9 (folic acid and folates)</li>
                        <li>Vitamin B12 (cobalamins)</li>
                        <li>Vitamin C (ascorbic acid and ascorbates)</li>
                        <li>Vitamin D (calciferols)</li>
                        <li>Vitamin E (tocopherols and tocotrienols)</li>
                        <li>Vitamin K (phylloquinones, menaquinones, and menadiones)</li>
                    </ul>
                </li>
            </ul>
        </article>
    </section>
</body>
</html>