<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>minute.monster registration</title>
</head>
<body>
    <section>
        <article>
            <h1>minute.monster registration</h1>
            <p>register your class for fun!</p>
        </article>
        <article>
            <form name="kids" method="post">
                <input type="text" name="className" />
                <input type="submit" value="add class to race!" />
            </form>
        </article>
    </section>
    <script src="../assets/js/main.js" ></script>
</body>
</html>